/* Global */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
header,
.product-wrapper {
  padding: 1.25em;
}
.total {
  font-size: 0.6rem;
  grid-area: total;
}
.App {
  background: #f2f2f6;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
}
body {
  height: 100%;
  overflow: hidden;
}
/* Loading */
.loading-screen {
  position: absolute;
  top: 0;
  background-color: #fff;
  min-height: 100%;
  min-width: 100%;
  z-index: 4;
  display: none;
  place-items: center;
}
.active-loading-screen {
  display: grid;
}
.load-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 4px dashed #fd4100;
  animation: rotate 10s infinite;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#price-label {
  display: flex;
  justify-content: space-between;
}
.currency-btn-wrapper {
  display: flex;
  gap: 0.5em;
}
/* Currency Control */
.currency-btn {
  display: block;
  background-color: #fff;
  border: none;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  cursor: pointer;
  /* padding: 0.35rem 0.5rem; */
  color: #c4c7cd;
}
.active-currency-btn {
  background-color: #e4e7ed;
  transition: 0.25s all ease;
  color: #1b1d25;
}
/* Page Control */
.page-control {
  height: 2.25em;
  background-color: #fff;
  margin: 1em 0;
  border-radius: 0.5rem;
  display: flex;
  gap: 2em;
  justify-content: center;
}
.page-btn {
  border: none;
  background-color: #fff;
  font-size: 1em;
  cursor: pointer;
}
.current-page-btn {
  color: #fd4100;
}
/* Search Form */
#model .checkbox-container {
  padding-top: 0;
}
.model-p {
  border-bottom: 2px solid #fd4100;
  padding: 0.5em 0;
  margin: 1em 0 1em 0;
}
.disabled {
  pointer-events: none;
  filter: opacity(50%);
}
.search-type-container {
  position: relative;
}
.vehicle-type-switcher {
  display: flex;
  margin: 0 -1em;
  height: 50px;
  border-radius: 0.5rem 0.5rem 0 0;
}
.type-btn {
  height: 100%;
  width: 100%;
  border: none;
  cursor: pointer;
  border-bottom: 1px solid #c2c9d8;
  border-right: 1px solid #c2c9d8;
  background-color: #f9f9fb;
  transition: 0.25s background-color ease;
  display: flex;
  justify-content: center;
  align-items: center;
}
.type-btn:first-child {
  border-radius: 0.5rem 0 0 0;
}
.type-btn:last-child {
  border-radius: 0 0.5rem 0 0;
  border-right: none;
}
.type-icon {
  pointer-events: none;
}
.type-btn:hover {
  transition: 0.25s background-color ease;
  background-color: #fff;
}
.active-type-btn {
  border-bottom-color: #fd4100;
  background-color: #fff;
}
.active-type-btn path {
  transition: 0.5s all ease;
  fill: #fd4100;
}
.search-form {
  width: 0px;
  background-color: #fff;
  min-height: 30vh;
  display: block;
  visibility: hidden;
  opacity: 0;
  padding: 0 1em;
  transition: 0.5s all ease;
  position: absolute;
  margin-top: 100px;
}
.search-btn {
  background: #fd4100;
  border-radius: 6px;
  color: #fff;
  padding: 0.75em 5em;
  border: none;
  font-weight: 700;
  display: block;
  width: 100%;
  margin: 1em auto;
  cursor: pointer;
  transition: 0.5s all ease;
}
.search-btn:hover {
  filter: brightness(85%);
}
.active-form {
  transition: 0.5s all ease;
  width: 100%;
  opacity: 100;
  visibility: visible;
  display: block;
  z-index: 1;
}
.label {
  font-size: 0.9rem;
  margin: 1em 0;
}
.search-form,
.select-span,
.checkbox-container,
input[type="number"] {
  border: 1px solid #c2c9d8;
  border-radius: 0.5rem;
}
.select-span {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.85em;
  position: relative;
  text-align: start;
  font-size: 0.813rem;
  line-height: 1.1;
  font-weight: 500;
  color: #6f7383;
  user-select: none;
}
.select-span p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  pointer-events: none;
}
.select-arrow {
  pointer-events: none;
}
.active-select {
  transition: 0.25s all ease;
  transform: rotate(180deg);
}
.selected {
  color: #1b1d25;
}
.select-span:hover {
  cursor: pointer;
  border: 1px solid black;
}
input[type="number"] {
  width: 100%;
  padding: 1em;
  font-size: 0.75rem;
}
label {
  display: flex;
  align-items: center;
  gap: 0.5em;
  margin-bottom: 1em;
  cursor: pointer;
}
label:last-child {
  margin-bottom: 0;
}
input[type="checkbox"] {
  accent-color: #fd4100;
  zoom: 1.2;
  cursor: pointer;
}
.checkbox-container {
  width: 100%;
  max-height: 200px;
  display: none;
  flex-direction: column;
  overflow-y: scroll;
  z-index: 1;
  margin-top: 0.5em;
  position: absolute;
  background-color: #fff;
  padding: 1em;
}
#price {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25em;
}
/* Header */
header {
  background-color: #fff;
  display: flex;
  position: sticky;
  top: 0;
  align-items: center;
  z-index: 3;
  box-shadow: 0px -25px 50px 1px gray;
}
.loading {
  position: relative;
}
.loading:after {
  content: "";
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
  width: 100px;
  height: 100px;
  border: 4px dashed #fd4100;
  animation: rotate 1s infinite;
  border-radius: 0.5rem;
  border-radius: 50%;
}
.loading:before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 0.5rem;
}
/* Product Container */
.product-container-top {
  display: grid;
  grid-template-areas:
    "filters filters filters"
    "total extra extra";
  align-items: center;
  padding: 1em;
  justify-content: space-between;
  row-gap: 1em;
  column-gap: 0.25em;
}
/* Filters */
.filter-container {
  padding: 1em 0;
  grid-area: filters;
  display: flex;
  align-items: center;
  gap: 0.5em;
  overflow: hidden;
  overflow-x: scroll;
  grid-area: filters;
  flex-wrap: wrap;
}
.filter-btn-mobile {
  background-color: #fff;
  border: none;
  border-radius: 2rem;
  padding: 0.75em 1.25em;
  display: flex;
  align-items: center;
  gap: 0.25em;
}
.filter-wrapper {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  border-radius: 2rem;
  white-space: nowrap;
  height: 37.6px;
  background-color: #fff;
  gap: 0.75em;
  padding: 0 1em;
}
.filter-wrapper img {
  cursor: pointer;
}
/* Product */
.product-wrapper {
  background-color: #fff;
  margin: auto;
  display: grid;
  grid-template-areas:
    "title title location"
    "price price price"
    "photo photo photo"
    "specs specs specs"
    "info info info";
  margin-bottom: 0.5em;
  gap: 1.5em;
}
.customs-location-info {
  display: flex;
  align-items: center;
  gap: 1em;
  grid-area: location;
}
.product-title {
  grid-area: title;
}
.product-price {
  grid-area: price;
  font-weight: 700;
  font-size: 1.25rem;
}
.product-specs {
  margin-top: 1em;
  color: #454857;
  grid-area: specs;
  display: flex;
  font-size: 0.75rem;
  column-gap: 10%;
  row-gap: 1em;
  flex-wrap: wrap;
}
.customs-location-info {
  align-self: center;
  font-size: 0.85rem;
}
.product-specs p {
  flex-basis: 45%;
  display: flex;
  align-items: center;
  gap: 0.5em;
}
.product-info {
  color: #8996ae;
  font-size: 0.688rem;
}
.product-photo {
  grid-area: photo;
  width: 100%;
  height: 260px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 0.5rem;
}
.year-span {
  color: #8c929b;
}
/* Extra Params */
.extra-param-control {
  display: flex;
  gap: 0.25em;
  grid-area: extra;
}
.extra-param-control .select-span {
  background-color: #fff;
  /* min-width: 125px; */
}
.checkbox-container button:not(:last-child) {
  margin-bottom: 0.5em;
}
.checkbox-container button {
  color: #1b1d25;
  border: none;
  background: none;
  cursor: pointer;
  color: #8c929b;
  transition: 0.5s color ease;
  text-align: left;
}
.checkbox-container button:hover {
  color: #1b1d25;
}
.param-type-container {
  position: relative;
}
.extra-param-control .checkbox-container {
  width: 120%;
  left: -20%;
}
@media only screen and (min-width: 370px) {
  .total {
    font-size: 0.75rem;
  }
  .extra-param-control .select-span {
    min-width: 125px;
  }
}
@media only screen and (min-width: 800px) {
  .loading:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 10%;
    height: 100%;
    background-color: #fd4100;
    border: none;
    animation: slide 1s infinite;
    border-radius: 0.5rem;
  }
  header {
    margin-bottom: 2em;
  }
  main {
    display: flex;
    justify-content: center;
    gap: 1.5em;
    min-height: 100vh;
  }
  header img,
  main {
    padding-inline: 15em;
  }
  /* Product Loading */

  @keyframes slide {
    0% {
      left: 0%;
    }
    50% {
      left: 90%;
    }
    100% {
      left: 0%;
    }
  }

  /* Extra Params */
  .extra-param-control {
    display: flex;
    justify-content: center;
    gap: 0.75em;
    z-index: 2;
  }
  .extra-param-control .select-span {
    gap: 0.5em;
  }
  .product-container-top {
    margin: 0 0 1em 0;
  }
  .extra-param-control .checkbox-container {
    width: 120%;
    left: -20%;
  }
  /* Search Form */
  .select-arrow {
    pointer-events: none;
    transition: 0.25s all ease;
  }
  .search-form {
    display: block;
    position: sticky;
    top: calc(90px + 2em);
    min-width: 280px;
    max-width: 280px;
    height: min-content;
    opacity: 100;
    grid-area: search;
    visibility: visible;
    margin-top: 0;
  }
  /* Filters */
  .filter-btn-mobile {
    display: none;
  }
  .filter-container {
    overflow: visible;
    display: none;
  }
  .visible {
    display: flex;
  }
  .extra-param-control {
    place-self: end;
  }
  /* Product */
  .product-container-top {
    padding: 0;
    grid-template-areas:
      "total extra extra"
      "filters filters filters";
  }
  .product-list-container {
    width: 100%;
    grid-area: product-container;
  }
  .product-wrapper {
    grid-template-areas:
      "photo title location"
      "photo specs price"
      "photo info info";
    border-radius: 0.5rem;
  }
  .customs-location-info {
    align-self: flex-start;
    text-align: right;
    /* margin-left: auto; */
  }
  .product-specs {
    align-self: center;
    margin-bottom: 1em;
  }
  .product-price {
    align-self: center;
    justify-self: flex-end;
  }
  .product-photo {
    width: 180px;
    height: 150px;
  }
  .total {
    font-size: 1rem;
  }
  .extra-param-control .select-span {
    min-width: 135px;
  }
}
